
  html {
    scroll-behavior: smooth;
  }
  .bgcolor {
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;

    /*background-color: hsla(206, 64%, 38%, 0.439);*/
    background-image:url("../img/dogesky.jpg");
    background-size: 100%;
    background-repeat: no-repeat full;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height:auto;
  }

 .navbar {
     
    overflow: hidden;
    position:sticky;
    top: 0;
    width: 100%;
    z-index:1;
 }
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:2;
  }

  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }

  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  .menu{
    width:100%; 
    height:auto; 
    margin:auto; 
    border: 5px solid rgb(71, 71, 180);
  }
  .li.a{
      color:rgb(0, 0, 0);
  }
  .menutext{
    text-align: center;

  }
  .navbar-default{
    background-image:url("../img/dogebg.jpg");
  }
  .navbar-brand.nonclickable{
      pointer-events: none;
      cursor: default;
  }

  .thing {
    border-radius: 0.5rem;
    
    border-left: 0 solid #00ff99;
    transition: width-left 300ms ease-in-out, padding-left 300ms ease-in-out;
  }
  
  .thing:hover {
    padding-left: 0.5rem ;
    border-left: 0.5rem solid #00ff99;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #4CAF50;
  }

 p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }

 .firstSection {
    width: 100%px;
    height: 1100px;
  }